Subscription-Upgrade: Need to register STATUS:DELETED with IANA

Use template in RFC 5545 Section 8.2.6 to register DELETED value for STATUS property